.card-bg {
    background-color: #F5C89D !important;
}

.details-link:hover {
    background-color: var(--green) !important;
    color: white !important;
    
}

.list-group-item.result-title {
    color: darkolivegreen; /* Your desired color */
}