.locationPin .icon {
    font-size: 1.5em;
}

.locationPin input {
    display:inline-block;
    border: none;
    font-weight: bold;
    color: white;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

textarea.createInput, input.createInput {
    border: 3px var(--brown4) solid;
    border-radius: var(--bs-border-radius);
    box-shadow:none;
}

textarea.createInput:focus, input.createInput:focus {
    box-shadow:none;
    outline: none;
    border-color: var(--orange2);
}

.locationPin input::placeholder {
    color: white;
    
}

.locationPin input:focus {
    outline: none;
}

.selectPark {
    width:"auto"; 
    outline: none;
}