:root {
    --brown1: #F5C89D;
    --brown2: #E0AD7C;
    --brown3: #B8885B;
    --brown4: #8E6C43;

    --green1: #428938;
    --green2: #12410B;

    --orange1: #FE9635;
    --orange2: #EE6F28;
    --red: #DD341D;

    --round: 10px;
    --font-size: 15px;
}

body {
    background-color: var(--brown3);
    font-size: var(--font-size);
}

/* h1 is for proper headers */
/* h2 is undefined, just in case we need it */
/* h3 is for usernames */
h3 {
    display:inline;
    font-size: 1.1em;
}

h1, h2, h3 {
    font-family: 'Dela Gothic One';
}

/* no underlines for links */
a {
    text-decoration: none;
}

/* color classes */
.green1 {
    color: var(--green1);
}

.green1-bg {
    background-color: var(--green1);
}

.green2 {
    color: var(--green2);
}

.white {
    color: white;
}

.red {
    color: var(--red);
}

.brown-4 {
    color: var(--brown4);
}

.orange1-bg {
    background-color: var(--orange1);
}

.round {border-radius: var(--round)}

/* styling for icons and buttons, apply as needed */

/* bumps elements slightly up, most useful for icons */
.up-2 {
    position: relative;
    bottom: .1em;
}

.roundIconFrame {
    display:inline-block;
    height: 1.6em;
    width: 1.6em;
    padding: .2em;
    margin: .2em;
    border-radius: 50%;
    position: relative;
    top: .2em;
}

/* styling for buttons */
.btn {
    border: 0px;
    margin: 0em .5em;
}

.btn .icon {
    font-size: 1.5em;
    margin: 0em .1em 0em 0em;
}

.parkour-btn {
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: .9em;
    border-radius: 50rem;
    padding: .3em .7em;
}

.orange-btn, .orange-btn:visited {
    background-color: var(--orange1);
}

.orange-btn:active, .orange-btn:hover {
    color:white;
    background-color: var(--orange2);
}

.green-btn, .green-btn:visited {
    background-color: var(--green1);
}

.green-btn:active, .green-btn:hover {
    color:white;
    background-color: var(--green2);
}

/* for navigation-tabs.js, used for navigation tabs. Could easily be moved into its own file 
if it interferes with other parts of the site, might have application elsewhere though */

.nav-pills {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.nav-pills::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.nav-link {
    color:var(--brown4);
    font-size: 1.1em;
}

.nav-pills .nav-link.active, .nav-link:hover {
    color:var(--green2);
    background-color: var(--brown1);
}

/* Use for big panes -- e.g. Profile, Navigation, Search */
.mainPane {
    background-color:var(--brown2);
    margin: 1vw;
    padding: 1vw;
    border: 3px solid var(--brown1);
    border-radius: calc(2*var(--round));
    max-width: 75%;
}

/* Use for smaller panes -- e.g. Posts, Comments */
.subPane {
    background-color: var(--brown1);
    border:none;
    margin: .5em;
    padding: .5em;
    border-radius: var(--round);
    color: var(--green2);
    overflow: hidden;
}

/* since we added padding to parkour posts we don't want special corner radii */
li.list-group-item.subPane {
    border-radius: var(--round);
}

/* use while developing to figure out where divs end */
.border {
    border: 1px solid;
}

.bg-brown1 {
    background-color: var(--brown1);
}

.bg-brown2 {
    background-color: var(--brown2);
}

.bg-brown3 {
    background-color: var(--brown3);
}

.bg-brown4 {
    background-color: var(--brown4);
}